* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(242, 78, 27, 25);
    /*overflow-y: auto;
        */
}

.barraNav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.barraNav li a:hover {
    color: rgba(242, 78, 27, 25);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(242, 78, 27, 25);
    /*overflow-y: auto;
        */
}

.barraNav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.barraNav li a:hover {
    color: rgba(242, 78, 27, 25);
}

.logo {
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    width: 80px;
    height: auto;
    text-align: center;
    font-size: 40px;
    margin-right: 620px;
}

.logo:hover {
    box-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
    text-shadow: 0 0 2px white, 0 0 15px white, 0 0 25px white, 0 0 40px white;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

img {
    box-shadow: 0 0 5px black;
    width: 250px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 130px;
}

#texto {
    margin-left: 25px;
}

#texto p {
    margin-bottom: 5px;
}

.sidebar {
    margin: 0;
    padding-top: 100px;
    width: 200px;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.marcador {
    margin: 20px;
    margin-top: 80px;
    padding: 10px;
    margin-left: 320px;
    background-color: black;
    color: white;
    width: 110px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.marcador:hover {
    font-weight: bold;
}

.marcador img {
    margin-left: 0;
    height: 30px;
    width: 25px;
    float: right;
    margin-top: 0;
    margin-bottom: 7.5px;
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 110px;
    background: black;
}

#webticker li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

#Chalecos {
    display: none;
}

#Trabajo {
    display: none;
}

#Navajas {
    display: none;
}

#DefensaPersonal {
    display: none;
}

.padre {}

.button1 {
    background-color: black;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300px;
    color: white;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: black;
    background-color: rgba(242, 78, 27, 25);
}