*{
    margin: 0;
    padding: 0;

    }

body
{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(242, 78, 27, 25);
        /*overflow-y: auto;
        */
}

.barraNav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.barraNav li a:hover{
    color: rgba(242, 78, 27, 25);
}

*{
    margin: 0;
    padding: 0;

    }

body
{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(242, 78, 27, 25);
        /*overflow-y: auto;
        */
}

.barraNav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.barraNav li a:hover{
    color: rgba(242, 78, 27, 25);
}


#texto{
    margin-left: 25px;
}
#texto p{
    margin-bottom: 5px;
}

.sidebar{
    margin: 0;
    padding-top: 100px;
  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a{

    display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

footer{
    background-color: black;
    color: white;
position : fixed;
bottom: 0;
z-index: 1;
width: 100%;
height: 110px;
background: black;
}
#webticker li{
    font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
}


#Chalecos{
    display: none;
}#Navajas{
    display: none;
}
#DefensaPersonal{
    display: none;
}

.grid-container {
    padding-top: 5%;
    padding-left: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "Empresa1"
      "Empresa2"
      "Empresa3";
  }
  .Empresa1 { grid-area: Empresa1;     margin-bottom: 5%   ; padding: 2%;
  background-color: black;color: white;}
  .Empresa2 { grid-area: Empresa2;    margin-bottom: 5%   ;padding: 2%;
    background-color: black;color: white;}
  .Empresa3 { grid-area: Empresa3;     margin-bottom: 5%   ;padding: 2%;
    background-color: black;color: white;}
img{
    width: 100px;
    height: 120px;
    float: left;
}
.button1{
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300px;
    color: white;
    text-align: center;
    transition: all 0.2s;
    }
    a.button1:hover{
    color: black;
    background-color: white;
    }
