*{
    margin: 0;
    padding: 0;

    }

body
{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(242, 78, 27, 25);
        /*overflow-y: auto;
        */
}

.barraNav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.barraNav li a:hover{
    color: rgba(242, 78, 27, 25);
}

*{
    margin: 0;
    padding: 0;

    }

body
{
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(242, 78, 27, 25);
        /*overflow-y: auto;
        */
}

.barraNav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
}

.barraNav li{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
}

.barraNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.barraNav li a:hover{
    color: rgba(242, 78, 27, 25);
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . .";
}
img{
    box-shadow: 0 0 5px black;
    width: 250px;
    height: 100px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 130px;
}

#texto{
    margin-left: 25px;
}
#texto p{
    margin-bottom: 5px;
}

.sidebar{

    margin: 0;
    padding-top: 100px;

  width: 200px;
  background-color: black;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.sidebar a{

    display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

footer{
    background-color: black;
    color: white;
position : fixed;
bottom: 0;
z-index: 1;
width: 100%;
height: 110px;
background: black;
}
#webticker li{
    font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
}


#Chalecos{
    display: none;
}#Navajas{
    display: none;
}
#DefensaPersonal{
    display: none;
}
