@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Cuprum|Dosis|PT+Sans|Armata|Ropa+Sans|Istok+Web|Arimo|Ubuntu|Ubuntu+Condensed|Pathway+Gothic+One|Roboto|Scada|Quattrocento+Sans|Courgette|Radley|Archivo+Narrow|Oswald|Open+Sans|Inconsolata|Karla|Molengo|Rosario|Roboto+Condensed|Play');

footer{
    color: white;
position : fixed;
bottom: 0;
z-index: 1;
width: 100%;
height: 110px;
background: black;
}
#webticker li{
    font-family: Arial, Helvetica, sans-serif;
font-size: 22px;
}
nav{
    background: #5f5f5f;
}
#titplaning{
    text-align: center;
    margin-top: 64px;
    font-family: 'Rock Salt';
    color: #f4f4f4;
    text-shadow: 1px 1px 2px black;
}
.btnmenu{
    float: right;
    background: #333;
    border-radius: 0px;
}
.btnmenu:hover{
    background: #333;
}
.btnmenu:focus{
    background: #333;
    border-color: #696969;
    box-shadow: 0 0 0 0.25rem rgb(0 0 0 / 54%);
}
.btnmenu:root{
    background: #333;
    border-color: #696969;

}
.btnmenu i {

    transform: rotate(90deg);
}
.canva{
    background: #f3f3f3;
}
body{
    background-color: rgba(242, 78, 27, 25);
    background-size: cover;
    background-repeat: no-repeat;
}
#bg1, #bg2, #bg3, #bg4{
    min-height: 100px;
    min-width: 100px;
}
#bg1:hover, #bg2:hover, #bg3:hover, #bg4:hover{
    cursor: pointer;
}
#bg1{
    background-image: url("../img/fondo1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#bg2{
    background-image: url("../img/fondo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#bg3{
    background-image: url("../img/fondo3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#bg4{
    background-image: url("../img/fondo4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.icon{
    padding: 5px;
    margin-top: 16px;
    cursor: pointer;
}
#titleh1{
    margin-top: 16px;
}
#selectorfuente{
    font-family: 'Rock Salt';
}

#nombreUser{
    font-size: 24px;
    font-weight: bold;
}
