*{
    margin: 0;
    padding: 0;

    }
    body{

        font-family: Arial, Helvetica, sans-serif;
        background-color: rgba(242, 78, 27, 25);
        /*overflow-y: auto;
        */
    }
    #NewOrder{
        margin-top: 50px;
    }

    section#Home h1:hover{
        text-shadow: 0 0 2px white,
        0 0 5px white,
        0 0 15px white


    }

    section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    }
    #autores{
        margin-top: 20px;
        font-weight: bold;
        color: white;
    }
    section h1{
        font-family: 'Bungee', cursive;
        color: white;
        background: black;
        width: 500px;
        font-size: 4rem;
        justify-content: center;
        text-align: center;

    }

    section p{
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    font-weight: bold;

    }
    section#About{
    background: url(../img/imagenPrueba3.jpg) no-repeat center center/cover;

    }
    section#About h1:hover{
        text-shadow: 0 0 2px white,
        0 0 5px white;
        box-shadow: 0 0 5px black,
        0 0 15px black,
        0 0 30px black;
    }
    section#About p:hover{

        text-shadow: 0 0 2px white,
        0 0 5px white;
        box-shadow: 0 0 5px black,
        0 0 15px black,
        0 0 30px black;
    }
    .container{
        width: 100%;
        height: 100%;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
    }

    .barraNav{
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: black;
    }

    .barraNav li{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    margin: 0 1rem;
    padding: 1rem;
    }

    .barraNav li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    }
    .barraNav li a:hover{
        color: rgba(242, 78, 27, 25);

    }

    form{
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        border-radius: 30px;
        background: black;
        justify-content: center;
        box-shadow: 5px 10px 8px black;
        font-size : 25px;
        height: 450px;
        width: 750px;
    }


    #RegisterForm{

        display: none;
        height: 500px;


    }
    form h1{

    margin-left: 135px;
    }

    form label{
        color: white;
        display: inline-block;
        justify-content: center;
        margin-bottom: 20px;
    }

    #paraAtras{

        font-size: 30px;
        font-weight: bold;
        justify-content: center;
        width: 50px;
        height: 60 px;
        text-align: center;
        float: left;
        margin-top: 50px;
        margin-left: 70px;
    }
    #About p{
        margin-top: 50px;
        width: 1100px;
        font-size: 40px;
        background-color: black;
        padding: 30px;

    }

    input[type=submit]{
        margin-top: 10px;
        background-color: black;
        border: 0;
        border-radius: 5px;
        cursor: pointer;
        color: #fff;
        font-size:16px;
        font-weight: bold;
        line-height: 1.4;
        padding: 10px;
        width: 100px;
        border: 2px solid #fff;
        transition: 0.3s;
        margin-right: 20px;
    }

    input[type=submit]:hover {

        padding: 10px 20px;
        width: 120px;
        box-shadow: 0 0 2px white,
        0 0 15px white,
        0 0 25px white,
        0 0 40px white;

    }

    .txtInputs{
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            border-top: white;
            outline: none;
            background: transparent;
    }

    .txtInputs::placeholder{

        color: white;
        font-size: 20px;
    }


    button{
            margin-top: 10px;
            background-color: black;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            font-size:16px;
            font-weight: bold;
            line-height: 1.4;
            padding: 10px;
            width: 100px;
            border: 2px solid #fff;
            transition: 0.3s;
    }
    button:hover{
        box-shadow: 0 0 2px white,
        0 0 15px white,
        0 0 25px white,
        0 0 40px white;
    }

    button#registro:hover{
            padding: 10px 20px;
            width: 120px;
    }

    #registrarInput:hover{
            padding: 10px 20px;
            width: 120px;
            box-shadow: 0 0 2px white,
            0 0 15px white,
            0 0 25px white,
            0 0 40px white;
    }

    label{

    justify-content: center;


    }


    #login:hover{
        text-shadow: 0 0 2px white,
        0 0 5px white,
        0 0 15px white

    }
    #Register:hover{
        text-shadow: 0 0 2px white,
        0 0 5px white,
        0 0 15px white

    }

    footer{
        background-color: black;
        color: white;
    position : fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 110px;
    background: black;
    }
    #webticker li{
        font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    }
