/*
=====
DEPENDENCES
=====
*/

.r-link {
    display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href] {
    color: var(--rLinkColor) !important;
    text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list {
    padding-left: var(--rListPaddingLeft, 3%) !important;
    margin-top: var(--rListMarginTop, 0) !important;
    margin-bottom: var(--rListMarginBottom, 0) !important;
    list-style: var(--rListListStyle, none) !important;
}


/*
=====
CORE STYLES
=====
*/

.menu {
    --rLinkColor: var(--menuLinkColor, currentColor);
    align-self: center;
}

.menu__link {
    display: var(--menuLinkDisplay, block);
}


/*
focus state
*/

.menu__link:focus {
    outline: var(--menuLinkOutlineWidth, 2px) solid var(--menuLinkOutlineColor, currentColor);
    outline-offset: var(--menuLinkOutlineOffset);
}


/*
fading siblings
*/

.menu:hover .menu__link:not(:hover) {
    --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));
}


/*
=====
PRESENTATION STYLES
=====
*/

.menu {

    width: 100%;
}

.menu__list {
    display: flex;
}

.menu__link {
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}
.containerNav{

margin-right: 650px;

}

/*
=====
TEXT UNDERLINED
=====
*/

.text-underlined {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;
}

.text-underlined::before,
.text-underlined::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.text-underlined::before {
    left: 50%;
    transform: translateX(-50%);
}

.text-underlined::after {
    right: 50%;
    transform: translateX(50%);
}

.text-underlined:hover::before,
.text-underlined:hover::after {
    width: 100%;
    transition-duration: .2s;
}


/*
=====
SETTINGS
=====
*/

.page__custom-settings {
    --menuBackgroundColor: black;
    --menuLinkColor: #fff;
    --menuLinkColorUnactive: rgba(242, 78, 27, 25);
    --menuLinkOutlineOffset: -.5rem;
    width: 100%;
}


/*
=====
DEMO
=====
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo{
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    width: 80px;
    height: auto;
    text-align: center;
    font-size: 40px;
    margin-right: 560px;
}
.logo:hover{

    box-shadow: 0 0 5px white,
    0 0 15px white,
    0 0 30px white;
    text-shadow: 0 0 2px white,
    0 0 15px white,
    0 0 25px white,
    0 0 40px white;
}